/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor/*
!vendor/panadero/
!vendor/dhx_diagram_6/
!vendor/dhx_gantt/
!vendor/dhx_kanban/
!vendor/dhx_suite/
!vendor/dhx_spreadsheet_5.1.8/
!vendor/dhx_spreadsheet_5.2.0/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
composer.lock
composer-lock.json
